@import url("https://use.typekit.net/vzr3ole.css");

#_top,.site-title {
  font-family: "antique-olive", sans-serif;
  font-weight: 700;
  font-style: normal;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ------------------------------------------- */
/* START: OVERRIDE DEFAULT STYLES              */
/* - Delete this section to restore defaults   */
/* ------------------------------------------- */


/* --- START: Main pane header styles ------*/
html[data-theme="light"] .main-pane h2 {
  /* color: var(--sl-color-accent);*/
  /*font-family: antique-olive;*/
  color: var(--sl-color-text-invert);
  border: 0px solid var(--sl-color-text-accent);
  border-radius: 8px;
  --webkit-border-radius: 8px;
  background-color: var(--sl-color-text-accent);
  font-size: 1.5em;
  font-weight: 800;
  display: table;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1em;
}
html[data-theme="dark"] .main-pane h2 {
  color: var(--sl-color-text-invert);
  border: 0px solid var(--sl-color-text-accent);
  border-radius: 8px;
  --webkit-border-radius: 8px;
  background-color: var(--sl-color-text-accent);
  font-size: 1.5em;
  font-weight: 800;
  display: table;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1em;
}

html[data-theme="light"] h3 {
  color: #2177c3;
}
html[data-theme="dark"] h3 {
  color: #2177c3;
}

html[data-theme="light"] h4 {
  color: #0d8397;
}
html[data-theme="dark"] h4 {
  color: #0d8397;
}
/* --- END:   Main pane header styles ------*/

/* --- START: Main pane table style ------*/

.main-pane table {
  margin-left: auto;
  margin-right: auto;
  display:table;
  line-height: 1.2rem;
}

.main-pane table th {
  font-weight: 600;
  background-color: var(--sl-color-accent-high);
  color: var(--sl-color-text-invert);
}

.main-pane table th, .main-pane table td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 6px;
  padding-right: 6px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.main-pane details summary[role='button'] {
  background-color: var(--sl-color-accent-high);
  border: 2px solid var(--sl-color-accent-high);
  padding: 4px;
  border-radius: 8px;
  --webkit-border-radius: 8px;
  color: var(--sl-color-text-invert);
  font-weight: 800;

}

.main-pane details summary[role='button']:hover {
  cursor: pointer;
}

.main-pane code {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

/* --- END:   Main pane table style ------*/
/* ------------------------------------------- */
/* END:   OVERRIDE DEFAULT STYLES              */
/* ------------------------------------------- */





/* ------------------------------------------- */
/* START: CUSTOM STYLES                        */
/* - Don't delete this section                 */
/* ------------------------------------------- */
/* --- START: Footnotes ------*/
.main-pane hr.footnote {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-top: 10px;
  width: 50%;
}

.main-pane div.footnote {
  font-size: 0.8em;
  margin-top: 4px;
}
/* --- END: Footnotes ------*/


/* --- START: Figure, Table and Listing captions ------*/
.main-pane div.caption {
  text-align: center;
  margin-top: 5px;
}

.main-pane div.caption span.caption-figure-nbr {
  font-weight: 800;
}
/* --- END:   Figure, Table and Listing captions ------*/


/* --- START: Review changes: Delete style contents once done reviewing ------*/
.review {
  color: firebrick;
}
/* --- END:   Review changes: Delete style contents once done reviewing ------*/


/* --- START: Syntax Box ------*/
aside[aria-label="Syntax"] {
  border-inline-start: inherit;
  border-radius: 8px;
  border: 2px solid #2177c3;
}

html[data-theme="light"] aside[aria-label="Syntax"] {
  background-color: #dfeaef;
}

html[data-theme="dark"] aside[aria-label="Syntax"] {
  background-color: #3d414d;
}

aside[aria-label="Syntax"] img {
  background-color: white;
  border-radius: 8px;
}

/* required specificity to override */
html[data-theme="light"] aside[aria-label="Syntax"] ul li p, html[data-theme="dark"] aside[aria-label="Syntax"] ul li p {
  margin-bottom: 0px;
}

html[data-theme="light"]  aside[aria-label="Syntax"] .starlight-aside__title {
  color: royalblue;
  font-weight: 800;
}

html[data-theme="dark"]  aside[aria-label="Syntax"] .starlight-aside__title {
  color: #a7c1ef;
  font-weight: 800;
}
/* --- END:   Syntax Box ------*/


/* --- START: Summary Box ------*/
aside[aria-label="Summary"] {
  border-inline-start: inherit;
  border-radius: 8px;
  border: 2px solid #21c0c3;
}

html[data-theme="light"] aside[aria-label="Summary"] {
  background-color: #dfeaef;
}

html[data-theme="dark"] aside[aria-label="Summary"] {
  background-color: #3d414d;
}

aside[aria-label="Summary"] img {
  background-color: white;
  border-radius: 8px;
}

/* required specificity to override */
html[data-theme="light"] aside[aria-label="Summary"] ul li p, html[data-theme="dark"] aside[aria-label="Summary"] ul li p {
  margin-bottom: 0px;
}

html[data-theme="light"] aside[aria-label="Summary"] .starlight-aside__title {
  color: teal;
  font-weight: 800;
}

html[data-theme="dark"] aside[aria-label="Summary"] .starlight-aside__title {
  color: #b2ebe5;
  font-weight: 800;
}
/* --- END:   Summary Box ------*/


.linkPoint {
  display: block;
  clear: both;
}


/* ------------------------------------------- */
/* END:   CUSTOM STYLES                        */
/* - Don't delete this section                 */
/* ------------------------------------------- */