@import url("https://use.typekit.net/vzr3ole.css");

#_top,.site-title {
  font-family: "antique-olive", sans-serif;
  font-weight: 700;
  font-style: normal;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

html[data-theme="light"] .main-frame h2 {
  /* color: var(--sl-color-accent);*/
  /*font-family: antique-olive;*/
  color: white;
  border: 0px solid royalblue;
  border-radius: 8px;
  --webkit-border-radius: 8px;
  background-color: royalblue;
  font-weight: 800;
  display: table;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1em;
}
html[data-theme="dark"] .main-frame h2 {
  /* color: var(--sl-color-accent); */
  color: #375ac1;
}

html[data-theme="light"] h3 {
  color: #2177c3;
}
html[data-theme="dark"] h3 {
  color: #2177c3;
}

html[data-theme="light"] h4 {
  color: #0d8397;
}
html[data-theme="dark"] h4 {
  color: #0d8397;
}

div.caption {
  text-align: center;
}

div.caption span.caption-figure-nbr {
  font-weight: 800;
}

.footnote {
  font-size: 0.8em;
}

.linkPoint {
  display: block;
  clear: both;
}

