@import url("https://use.typekit.net/vzr3ole.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Gaegu&display=swap");

#_top,
.site-title {
  font-family: "antique-olive", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Dark mode colors. */
:root {
  --sl-color-accent-low: #072d00;
  --sl-color-accent: #247f00;
  --sl-color-accent-high: #aad7a0;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eaf0e8;
  --sl-color-gray-2: #bdc4bb;
  --sl-color-gray-3: #82907f;
  --sl-color-gray-4: #4f5c4d;
  --sl-color-gray-5: #303c2d;
  --sl-color-gray-6: #1f2a1c;
  --sl-color-black: #151a13;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #c0e2b8;
  --sl-color-accent: #258100;
  --sl-color-accent-high: #0d3e00;
  --sl-color-white: #151a13;
  --sl-color-gray-1: #1f2a1c;
  --sl-color-gray-2: #303c2d;
  --sl-color-gray-3: #4f5c4d;
  --sl-color-gray-4: #82907f;
  --sl-color-gray-5: #bdc4bb;
  --sl-color-gray-6: #eaf0e8;
  --sl-color-gray-7: #f4f7f3;
  --sl-color-black: #ffffff;
}

.tagline {
  font-family: "antique-olive", sans-serif;
}

[data-has-hero] .page {
  /* simple, light dots repeating */
  --dot-bg: white;
  --dot-color: rgba(212, 212, 212, 0.449);
  --dot-size: 1.5px;
  --dot-space: 12px;

  background: linear-gradient(215deg, #b3c4b6, transparent 20%),
    linear-gradient(125deg, #b3c4b6, transparent 20%),
    linear-gradient(15deg, #b3c4b6, transparent 20%),
    /* radial-gradient(#b3c4b6, transparent 40%) no-repeat -60vw -40vh / 105vw
      200vh,
    radial-gradient(#b3c4b6, transparent 65%) no-repeat 50% calc(100% + 20rem) /
      60rem 30rem */
      linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}
[data-has-hero][data-theme="dark"] .page {
  /* simple, light dots repeating */
  --dot-bg: black;
  --dot-color: rgba(212, 212, 212, 0.449);
  --dot-size: 1.5px;
  --dot-space: 12px;
  img {
    filter: invert(1);
    opacity: 0.9;
  }
  background: linear-gradient(215deg, #000000, transparent 20%),
    linear-gradient(125deg, #000000, transparent 20%),
    linear-gradient(15deg, #000000, transparent 20%),
    /* radial-gradient(#b3c4b6, transparent 40%) no-repeat -60vw -40vh / 105vw
      200vh,
    radial-gradient(#b3c4b6, transparent 65%) no-repeat 50% calc(100% + 20rem) /
      60rem 30rem */
      linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

[data-has-hero] header {
  border-bottom: 1px solid transparent;
  background-color: transparent;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}

@font-face {
  font-family: "FontAwesomeBrands";
  src: url("/src/fonts/fa-brands-400.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.home-card {
  border-radius: 20%;
  border: 1px dotted black;
}

html[data-theme="dark"] a.multitool:after {
  border: 1px solid black;
}

a.pi:after {
  font-family: "FontAwesomeBrands";
  content: "\f7bb";
  float: right;
  border-radius: 5px;
  border: 1px solid white;
  padding: 0px 5px 0px 5px;
}

html[data-theme="dark"] a.apple:after {
  border: 1px solid black;
}

a.apple:after {
  font-family: "FontAwesomeBrands";
  content: "\f179";
  float: right;
  border-radius: 5px;
  border: 1px solid white;
  padding: 0px 5px 0px 5px;
}

html[data-theme="dark"] a.windows:after {
  border: 1px solid black;
}

a.windows:after {
  font-family: "FontAwesomeBrands";
  content: "\f17a";
  float: right;
  border-radius: 5px;
  border: 1px solid white;
  padding: 0px 5px 0px 5px;
}

html[data-theme="dark"] a.linux:after {
  border: 1px solid black;
}

a.linux:after {
  font-family: "FontAwesomeBrands";
  content: "\f17c";
  float: right;
  border-radius: 5px;
  border: 1px solid white;
  padding: 0px 5px 0px 5px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ------------------------------------------- */
/* START: OVERRIDE DEFAULT STYLES              */
/* - Delete this section to restore defaults   */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* END:   OVERRIDE DEFAULT STYLES              */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* START: CUSTOM STYLES                        */
/* - Don't delete this section                 */
/* ------------------------------------------- */
/* --- START: Footnotes ------*/
.main-pane hr.footnote {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-top: 10px;
  width: 50%;
}

.main-pane div.footnote {
  font-size: 0.8em;
  margin-top: 4px;
}
/* --- END: Footnotes ------*/

/* --- START: Figure, Table and Listing captions ------*/
.main-pane div.caption {
  text-align: center;
  margin-top: 5px;
}

.main-pane div.caption span.caption-figure-nbr {
  font-weight: 800;
}
/* --- END:   Figure, Table and Listing captions ------*/

/* --- START: Review changes: Delete style contents once done reviewing ------*/
.review {
  color: firebrick;
}
/* --- END:   Review changes: Delete style contents once done reviewing ------*/

/* --- START: Syntax Box ------*/
aside[aria-label="Syntax"] {
  border-inline-start: inherit;
  border-radius: 8px;
  border: 2px solid #2177c3;
}

html[data-theme="light"] aside[aria-label="Syntax"] {
  background-color: #dfeaef;
}

html[data-theme="dark"] aside[aria-label="Syntax"] {
  background-color: #3d414d;
}

aside[aria-label="Syntax"] img {
  background-color: white;
  border-radius: 8px;
}

/* required specificity to override */
html[data-theme="light"] aside[aria-label="Syntax"] ul li p,
html[data-theme="dark"] aside[aria-label="Syntax"] ul li p {
  margin-bottom: 0px;
}

html[data-theme="light"] aside[aria-label="Syntax"] .starlight-aside__title {
  color: royalblue;
  font-weight: 800;
}

html[data-theme="dark"] aside[aria-label="Syntax"] .starlight-aside__title {
  color: #a7c1ef;
  font-weight: 800;
}
/* --- END:   Syntax Box ------*/

/* --- START: Summary Box ------*/
aside[aria-label="Summary"] {
  border-inline-start: inherit;
  border-radius: 8px;
  border: 2px solid #21c0c3;
}

html[data-theme="light"] aside[aria-label="Summary"] {
  background-color: #dfeaef;
}

html[data-theme="dark"] aside[aria-label="Summary"] {
  background-color: #3d414d;
}

aside[aria-label="Summary"] img {
  background-color: white;
  border-radius: 8px;
}

/* required specificity to override */
html[data-theme="light"] aside[aria-label="Summary"] ul li p,
html[data-theme="dark"] aside[aria-label="Summary"] ul li p {
  margin-bottom: 0px;
}

html[data-theme="light"] aside[aria-label="Summary"] .starlight-aside__title {
  color: teal;
  font-weight: 800;
}

html[data-theme="dark"] aside[aria-label="Summary"] .starlight-aside__title {
  color: #b2ebe5;
  font-weight: 800;
}
/* --- END:   Summary Box ------*/

/* --- START: C# Box ------*/
aside[aria-label="C#"] {
  border-inline-start: inherit;
  border-radius: 8px;
  border: 2px solid #a56386;
}

html[data-theme="light"] aside[aria-label="C#"] {
  background-color: #ebdfef;
}

html[data-theme="dark"] aside[aria-label="C#"] {
  background-color: #3d414d;
}

aside[aria-label="C#"] img {
  background-color: white;
  border-radius: 8px;
}

/* required specificity to override */
html[data-theme="light"] aside[aria-label="C#"] ul li p,
html[data-theme="dark"] aside[aria-label="C#"] ul li p {
  margin-bottom: 0px;
}

html[data-theme="light"] aside[aria-label="C#"] .starlight-aside__title {
  color: #c32177;
  font-weight: 800;
}

html[data-theme="dark"] aside[aria-label="C#"] .starlight-aside__title {
  color: #debbc7;
  font-weight: 800;
}
/* --- END:   C# Box ------*/

/* --- START: How does this work? Box ------*/

/* 
 * Sketched style borders:
 * https://stackoverflow.com/questions/43694588/can-i-use-css-to-distort-borders-so-they-look-like-sketched

 * Styling li numbers
 * https://stackoverflow.com/questions/23610151/can-you-style-ordered-list-numbers
 * https://codepen.io/sawmac/pen/qBKzmM 
 * https://www.lilengine.co/articles/styling-ordered-list-numbers
 */

aside[aria-label="How does this work?"] p.starlight-aside__title {
  font-size: 1.3rem;
  font-family: "Gaegu";
  font-weight: 800;
  font-size: 1.7rem;
  color: black;
}

aside[aria-label="How does this work?"] ol.counterStart2 {
  counter-reset: step-counter 1;
}
aside[aria-label="How does this work?"] ol.counterStart3 {
  counter-reset: step-counter 2;
}
aside[aria-label="How does this work?"] ol.counterStart4 {
  counter-reset: step-counter 3;
}
aside[aria-label="How does this work?"] ol.counterStart5 {
  counter-reset: step-counter 4;
}
aside[aria-label="How does this work?"] ol.counterStart6 {
  counter-reset: step-counter 5;
}
aside[aria-label="How does this work?"] ol.counterStart7 {
  counter-reset: step-counter 6;
}
aside[aria-label="How does this work?"] ol.counterStart8 {
  counter-reset: step-counter 7;
}
aside[aria-label="How does this work?"] ol.counterStart9 {
  counter-reset: step-counter 8;
}
aside[aria-label="How does this work?"] ol.counterStart10 {
  counter-reset: step-counter 9;
}
aside[aria-label="How does this work?"] ol.counterStart11 {
  counter-reset: step-counter 10;
}
aside[aria-label="How does this work?"] ol.counterStart12 {
  counter-reset: step-counter 11;
}
aside[aria-label="How does this work?"] ol.counterStart13 {
  counter-reset: step-counter 12;
}
aside[aria-label="How does this work?"] ol.counterStart14 {
  counter-reset: step-counter 13;
}
aside[aria-label="How does this work?"] ol.counterStart15 {
  counter-reset: step-counter 14;
}
aside[aria-label="How does this work?"] ol.counterStart16 {
  counter-reset: step-counter 15;
}
aside[aria-label="How does this work?"] ol.counterStart17 {
  counter-reset: step-counter 16;
}
aside[aria-label="How does this work?"] ol.counterStart18 {
  counter-reset: step-counter 17;
}
aside[aria-label="How does this work?"] ol.counterStart19 {
  counter-reset: step-counter 18;
}
aside[aria-label="How does this work?"] ol.counterStart20 {
  counter-reset: step-counter 19;
}
aside[aria-label="How does this work?"] ol.counterStart21 {
  counter-reset: step-counter 20;
}
aside[aria-label="How does this work?"] ol.counterStart22 {
  counter-reset: step-counter 21;
}
aside[aria-label="How does this work?"] ol.counterStart23 {
  counter-reset: step-counter 22;
}
aside[aria-label="How does this work?"] ol.counterStart24 {
  counter-reset: step-counter 23;
}
aside[aria-label="How does this work?"] ol.counterStart25 {
  counter-reset: step-counter 24;
}
aside[aria-label="How does this work?"] ol.counterStart26 {
  counter-reset: step-counter 25;
}
aside[aria-label="How does this work?"] ol.counterStart27 {
  counter-reset: step-counter 26;
}
aside[aria-label="How does this work?"] ol.counterStart28 {
  counter-reset: step-counter 27;
}
aside[aria-label="How does this work?"] ol.counterStart29 {
  counter-reset: step-counter 28;
}
aside[aria-label="How does this work?"] ol.counterStart30 {
  counter-reset: step-counter 29;
}
aside[aria-label="How does this work?"] ol.counterStart31 {
  counter-reset: step-counter 30;
}
aside[aria-label="How does this work?"] ol.counterStart32 {
  counter-reset: step-counter 31;
}
aside[aria-label="How does this work?"] ol.counterStart33 {
  counter-reset: step-counter 32;
}
aside[aria-label="How does this work?"] ol.counterStart34 {
  counter-reset: step-counter 33;
}
aside[aria-label="How does this work?"] ol.counterStart35 {
  counter-reset: step-counter 34;
}
aside[aria-label="How does this work?"] ol.counterStart36 {
  counter-reset: step-counter 35;
}
aside[aria-label="How does this work?"] ol.counterStart37 {
  counter-reset: step-counter 36;
}
aside[aria-label="How does this work?"] ol.counterStart38 {
  counter-reset: step-counter 37;
}
aside[aria-label="How does this work?"] ol.counterStart39 {
  counter-reset: step-counter 38;
}
aside[aria-label="How does this work?"] ol.counterStart40 {
  counter-reset: step-counter 39;
}
aside[aria-label="How does this work?"] ol.counterStart41 {
  counter-reset: step-counter 40;
}
aside[aria-label="How does this work?"] ol.counterStart42 {
  counter-reset: step-counter 41;
}
aside[aria-label="How does this work?"] ol.counterStart43 {
  counter-reset: step-counter 42;
}
aside[aria-label="How does this work?"] ol.counterStart44 {
  counter-reset: step-counter 43;
}
aside[aria-label="How does this work?"] ol.counterStart45 {
  counter-reset: step-counter 44;
}
aside[aria-label="How does this work?"] ol.counterStart46 {
  counter-reset: step-counter 45;
}
aside[aria-label="How does this work?"] ol.counterStart47 {
  counter-reset: step-counter 46;
}
aside[aria-label="How does this work?"] ol.counterStart48 {
  counter-reset: step-counter 47;
}
aside[aria-label="How does this work?"] ol.counterStart49 {
  counter-reset: step-counter 48;
}
aside[aria-label="How does this work?"] ol.counterStart50 {
  counter-reset: step-counter 49;
}

aside[aria-label="How does this work?"] ol > li {
  counter-increment: step-counter;
  margin-bottom: 10px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  font-size: 1.3rem;
  font-family: "Gaegu";
  line-height: 1.3rem;

  margin-right: 10px;
}

aside[aria-label="How does this work?"] ol > li::before {
  content: counter(step-counter);
  /* Negative left margin makes the number appear outside of the list.
     It's like setting list-style-position: outside */
  margin-right: 5px;
  margin-left: -36px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 3px;
  line-height: 1.7em;
  background-color: #ffd966;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-size: 1.3rem;
  font-family: "Gaegu";

  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
}
html[data-theme="dark"] aside[aria-label="How does this work?"] {
}

aside[aria-label="How does this work?"] {
  border-inline-start: inherit;
  border-radius: 8px;
  border: 2px solid black;

  /* Hand drawn border box, from: https://stackoverflow.com/questions/43694588/can-i-use-css-to-distort-borders-so-they-look-like-sketched */
  background: transparent;
  padding: 0.5rem 0.5rem;
  margin: 0 0.5rem;
  font-size: 1rem;

  border-top-left-radius: 7px 45px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 7px 255px;
}

html[data-theme="light"] aside[aria-label="How does this work?"] {
  background-color: whitesmoke;
}

html[data-theme="dark"] aside[aria-label="How does this work?"] {
  background-color: whitesmoke;
  color: var(--sl-color-text-invert);
}

aside[aria-label="How does this work?"] img {
  background-color: white;
  border-radius: 8px;
}

aside[aria-label="How does this work?"] ul {
  list-style-type: none;
  padding-left: 10px;
  padding-right: 5px;
  font-size: 1.3rem;
  font-family: "Gaegu";
  line-height: 1.3rem;
  margin-top: 4px;
}

aside[aria-label="How does this work?"] ul > li::before {
  content: "";
  display: inline-block;
  height: 14px;
  width: 14px;
  background-size: 14px;
  background-image: url("/src/content/docs/book/images-common/ol-bullet-2-open-yellow-light.png");
  background-repeat: no-repeat;
  margin-right: 6px;
  background-position: center center;
  vertical-align: middle;
}

aside[aria-label="How does this work?"] ul > li ul {
  list-style-type: none;
}

aside[aria-label="How does this work?"] ul > li ul li::before {
  content: "";
  display: inline-block;
  height: 12px;
  width: 12px;
  background-size: 12px;
  background-image: url("/src/content/docs/book/images-common/dash-blue-thick-v1.png");
  background-repeat: no-repeat;
  margin-right: 6px;
  background-position: center center;
  vertical-align: middle;
}

aside[aria-label="How does this work?"] ul > li ul li ul {
  list-style-type: none;
}

aside[aria-label="How does this work?"] ul > li ul li ul li::before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  background-size: 10px;
  background-image: url("/src/content/docs/book/images-common/ol-bullet-2-open-yellow-light-2.png");
  background-repeat: no-repeat;
  margin-right: 6px;
  background-position: center center;
  vertical-align: middle;
}

/* --- END:   How does this work? Box ------*/

/* --- START: Fluid Videos ------*/
/* From: https://css-tricks.com/fluid-width-video/ */
.main-pane .content .videoProgrammersGuideContainer {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.main-pane .content .videoProgrammersGuideContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* --- END:   Fluid Videos ------*/

.textImageIconInline {
  width: 20px;
  height: 20px;
  display: inline;
  vertical-align: top;
  margin-bottom: 0;
}

.linkPoint {
  display: block;
  clear: both;
}

.equationBox {
  border: 2px solid black;
  border-radius: 8px;
  --webkit-border-radius: 8px;
  padding: 8px;
  display: inline;
  margin-right: 5px;
}

.boldunderline {
  font-weight: 800;
  text-decoration: underline;
}

.booleanTrue {
  font-weight: bold;
  color: royalblue;
}

.booleanFalse {
  font-weight: bold;
  color: darkviolet;
}

.mathSymbol {
  color: firebrick;
  font-weight: 800;
}
.starlight-aside,
.card {
  border-radius: 0.5rem;
}
.main-pane  {
  img {
    border-radius: 0.5rem;
    box-shadow: var(--sl-shadow-md);
  }
}
.expressive-code {
  border-radius: 0.6rem;
  box-shadow: var(--sl-shadow-md);
}
/* ------------------------------------------- */
/* END:   CUSTOM STYLES                        */
/* - Don't delete this section                 */
/* ------------------------------------------- */
