@import url("https://use.typekit.net/vzr3ole.css");

#_top,.site-title {
  font-family: "antique-olive", sans-serif;
  font-weight: 700;
  font-style: normal;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.caption {
  text-align: center;
}

div.caption span.caption-figure-nbr {
  font-weight: 800;
}

.footnote {
  font-size: 0.8em;
}

.linkPoint {
  display: block;
  clear: both;
}