---

export interface Props {
    isCorrect?: boolean;
    joinNext?: boolean;
}

const { isCorrect=false, joinNext=false } = Astro.props as Props;
const key = Math.random().toString();
---
<>
    <input autocomplete="off" data-is-inline-text-option type="checkbox" data-is-correct={isCorrect} id={key} />
    <label for={key} class:list={[{ 'join-next': joinNext }]}><slot /></label>
</>

<style>
    label {
        display: inline-block;
        border: solid 1px #aad7a061;
        border-radius: 0.4em;
        background-color: var(--ec-frm-trmBg);
        cursor: pointer;
        transition: color 0.3s, background-color 0.3s;
        white-space: nowrap;
        margin-right: 0.3em;
        user-select: none;
    }

    input{
        margin: 0em 1em 0em 0em;
    }
    [data-is-inline-text-option]{
        display: none;
    }
    input:checked + label {
        background-color: #aad7a0;
        border: solid 1px #30762161;
        color: var(--sl-color-text-invert);
    }

    .join-next {
        border-radius: 0.4em 0 0 0.4em;
        margin-right: 0em;
    }
    .join-next + input + label {
        border-radius: 0 0.4em 0.4em 0;
    }

</style>

<script>
    document.querySelectorAll('[data-is-inline-text-option]').forEach(function (li){
        li.checkCorrect = function(){
            return li.dataset.isCorrect == li.checked.toString();
        }
    });
</script>
