---

export interface Props {
    isCorrect?: boolean;
    joinNext?: boolean;
    seamless?: boolean;
    group?: string;
    optional?: boolean;
}

const { isCorrect=false, joinNext=false, seamless=false, group="", optional=false } = Astro.props as Props;
---
<>
    <input autocomplete="off" data-is-inline-text-option type="checkbox" data-is-correct={isCorrect} group={group} optional={optional}/>
    <label class:list={[{ 'join-next': joinNext, 'seamless': seamless }]}><slot /></label>
</>

<style>
    label {
        display: inline-block;
        border: solid 1px #aad7a061;
        border-radius: 0.4em;
        background-color: var(--ec-frm-trmBg);
        cursor: pointer;
        transition: color 0.3s, background-color 0.3s;
        white-space: nowrap;
        margin-right: 0.3em;
        user-select: none;
    }

    .seamless {
        border: none;
        background: none;
        transition: background-color 0.15s, box-shadow 0.15s;
        padding: 0 0.3em;
        margin: 0 -0.3em;
    }
    input:checked + label.seamless {
        border: none;
        background: var(--ec-tm-insBg);
        box-shadow: 0 0 0px 1px var(--ec-tm-insBrdCol);
    }
    input:hover + label.seamless {
        box-shadow: 0 0 0px 1px var(--ec-tm-insBrdCol);
    }

    input{
        margin: 0em 1em 0em 0em;
    }
    [data-is-inline-text-option]{
        display: none;
    }
    input:checked + label {
        background-color: #aad7a0;
        border: solid 1px #30762161;
        color: var(--sl-color-text-invert);
    }

    .join-next {
        border-radius: 0.4em 0 0 0.4em;
        margin-right: 0em;
    }
    .join-next + input + label {
        border-radius: 0 0.4em 0.4em 0;
    }

</style>

<script>
    const TERN_POS = 1, TERN_NEUT = 0, TERN_NEG = -1;

    document.querySelectorAll('[data-is-inline-text-option]').forEach(function (li){
        let id = "ITO" + Math.random().toString();
        li.setAttribute("id", id);
        li.nextSibling.setAttribute("for", id);
        li.checkCorrect = function() {
            if (!li.checked)
                return li.dataset.isCorrect=="true" ? TERN_NEUT : TERN_POS;
            return li.dataset.isCorrect=="true" ? TERN_POS : TERN_NEG;
        }
    });
</script>
