---

export interface Props {
    isCorrect?: boolean;
    group?: string;
}

const { isCorrect=false, group="" } = Astro.props as Props;
---

<li>
    <label>
        <input autocomplete="off" data-is-option type="radio" data-is-correct={isCorrect} group={group} /><span><slot /></span>
    </label>
</li>

<style>
    label {
        display: flex;
    }

    input{
        margin: 0em 1em 0em 0em;
    }
</style>

<script>
    const TERN_POS = 1, TERN_NEUT = 0, TERN_NEG = -1;

    document.querySelectorAll('[data-is-option]').forEach(function (li){
        li.checkCorrect = function(){
            if (!li.checked)
                return li.dataset.isCorrect=="true" ? TERN_NEUT : TERN_POS;
            return li.dataset.isCorrect=="true" ? TERN_POS : TERN_NEG;
        }
    });
</script>
